<div class="footer">

        <p>Around The Globe</p>
        <p>Dublin 1</p>
        <p>aroundtheglobe@gmail.com</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        
       
</div>
</body>
</html>