<div class="footer">

        <p>Music Studio</p>
        <p>Dublin 2</p>
        <p>music.studio@gmail.com</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        
</div>
</body>
</html>