<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Matheus January App</title>
		<link rel="stylesheet" href="../app.css" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="jquery-3.3.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://www.paypalobjects.com/api/checkout.js"></script>
  
	</head>
	
	<body>
	    <div class="header">
            <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo.png'></div>
         <div class="navhold">
              <div class="topnav">
                  <a href="/">Home</a>
                      <a href="/contacts" >Guides</a>
                          <a href="/productssql" >Destinations</a>
                          <a href="/createsql" >Create Destination</a>
                          <a href="/add" >Contact Us</a>
                          <a href="/register">Register</a>
                          <a href="/login">Log In</a>
                          <a href="/logout">Log Out</a>
                          <a href="/users">Users</a>
                          <a href="/users">My Booking</a>
              </div>
            </div>
        </div>
 