<form accept-charset="UTF-8" action="/search" method="post">
            
             <div class="search">
                <label for="search"></label>
                <input name="search" type="text" placeholder="Enter a destination" />
     
                
                <button class="buttons">Search</button>
           
            
            
            </div>    
        </form>