<% include ../partials/header %>
    
	    
            <div class="large">
                
                  <h1><br><br><br>Welcome to Music Studio</h1>  
                  <h2>All courses are now enrolling for our current term.</h2>
                  
            </div>

    </div>
    
    
    
<% include ../partials/footer %>
